.header {
  height: 64px;
  background-color: #212841;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.panel {
  padding: 10px;
  color: #212841;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}

.task-list {
  margin-top: 10px;
  list-style: none;
  overflow: auto;
  padding-right: 10px;
  max-height: calc(100% - 100px);
}

.task {
  padding: 8px 10px;
  border-radius: 4px;
  background: #f8f8f8;
  box-shadow: 0 1px 0.5px rgb(0 0 0 / 12%);
  border-left: 4px solid #212841;
  margin-block-end: 10px;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task:hover {
  border-left: 4px solid #007bff;
  cursor: pointer;
}

.footer {
  height: 36px;
  background-color: #d2dcff;
  color: #007bff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: block;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.1s;
}

.btn[disabled] {
  background-color: gray !important;
  color: black !important;
  opacity: 1 !important;
  cursor: default !important;
}

.btn-small {
  padding: 4px;
  font-size: 16px;
  border-radius: 2px;
}

.btn:hover {
  opacity: 0.5;
}

.btn-outline-primary {
  background-color: white;
  border: 2px solid #212841;
  color: #212841;
}

.btn-outline-danger {
  background-color: white;
  border: 2px solid rgb(212, 101, 101);
  color: red;
}

.btn-primary {
  border: 2px solid #212841;
  background-color: #212841;
  color: white;
}

.btn-add-task {
  font-size: 16px;
  margin-block: 10px;
}