.header {
  height: 64px;
  background-color: #212841;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.panel {
  padding: 10px;
  color: #212841;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}

.footer {
  height: 36px;
  background-color: #d2dcff;
  color: #007bff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: block;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.1s;
}

.btn[disabled] {
  background-color: #eee !important;
  color: black !important;
  opacity: 1 !important;
  border: 2px solid #eee !important;
  cursor: not-allowed !important;
}

.btn-small {
  padding: 4px;
  font-size: 16px;
  border-radius: 2px;
}

.btn:hover {
  opacity: 0.5;
}

.btn-outline-primary {
  background-color: white;
  border: 2px solid #212841;
  color: #212841;
}

.btn-outline-danger {
  background-color: white;
  border: 2px solid rgb(212, 101, 101);
  color: red;
}

.btn-primary {
  border: 2px solid #212841;
  background-color: #212841;
  color: white;
}
